<%- partial('index/slideshow') %>

<main id="content" class="content" role="main">

<% page.posts.each(function(post){ %>
    <%- partial('index/article', { post }) %>
<% }); %>
<% if (page.total > 1) { %>
    <%- partial('common/paginator') %>
<% } %>

</main>
